
/* Main content */
.main {
margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/* body {
    padding: 0px;
    margin: 0px;
    background-image: 'https://infinitysnapz.neocities.org/noyze6.png';
} */

html {
    scroll-behavior: smooth;
}

/* Bootstrap Overrides */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='0' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.zoomin {
  animation:grow 2.5s 1;

}

@keyframes grow {
    0% {
    transform: scale( 0 );-moz-transform: scale( 0 );-o-transform: scale( 0 );-ms-transform: scale( 0 );transform: scale( 0 );
    }

    100% {
    transform: scale( 1 );-moz-transform: scale( 1 );-o-transform: scale( 1 );-ms-transform: scale( 1 );transform: scale( 1 );
    }
}


.backgroundColorShift {
    height: 100px;
    background-color: #c5a599;
    animation-name: backgroundColorShift; 
    animation-delay: 0s;  
    animation-duration: 1.5s; 
    animation-fill-mode: forwards;
}

@keyframes backgroundColorShift {  
    0% { background-color: #c5a599; }
    100% { background-color: #f9d8cc; }
}


@font-face {
    font-family: "Righteous";
    src: url("../fonts/Righteous-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "LEMONMILK";
    src: url("../fonts/LEMONMILK-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "LEMONMILK";
    src: url("../fonts/LEMONMILK-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "LEMONMILK";
    src: url("../fonts/LEMONMILK-Light.otf");
    font-weight: lighter;
}

@font-face {
    font-family: "ProFontWindows";
    src: url("../fonts/ProFontWindows.ttf");
}


ul {
display: block;
list-style-type: disc;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
padding-left: 0px;
}

.fade-in {
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    99% {visibility:hidden}
    100% {opacity:1;visibility:visible}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;visibility:visible}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;visibility:visible}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;visibility:visible}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;visibility:visible}
}

.object {
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}

.move-right{
    transform: translate(350px,0);
    -webkit-transform: translate(350px,0); /** Chrome & Safari **/
    -o-transform: translate(350px,0); /** Opera **/
    -moz-transform: translate(350px,0); /** Firefox **/
}

.title img:nth-child() {animation-delay: 1s}

.leftcolumn {
    float: left;
    width: 25%;
}

/* Right column */
.rightcolumn {
    float: right;
    width: 25%;
    padding-right: 20px;
}

/* Center column */
.centercolumn {
    float: center;
    width: 50%;
    padding-right: 20px;
}

.twitterfeed {
    float: left;
    width: 15%;
    padding-left: 20px;
}

/* Left column */
.leftcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

iframe {
    border-radius: 10px;
}

ul li a {
    color:white !important; 
    background-color: #000;    
    transition: background-color 0.2s linear; /* vendorless fallback */
    -o-transition: background-color 0.2s linear; /* opera */
    -ms-transition: background-color 0.2s linear; /* IE 10 */
    -moz-transition: background-color 0.2s linear; /* Firefox */
    -webkit-transition: background-color 0.2s linear; /*safari and chrome */
}

ul li a:hover {
    color: black !important;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s linear; /* vendorless fallback */
    -o-transition: background-color 0.2s linear; /* opera */
    -ms-transition: background-color 0.2s linear; /* IE 10 */
    -moz-transition: background-color 0.2s linear; /* Firefox */
    -webkit-transition: background-color 0.2s linear; /*safari and chrome */
}

.navbar-custom {
    height:175px;
}
/* 
img.custom:hover {
    transition: .2s;
    transform: scale(1.15);
}

ul li a:hover img {
    transition: .2s;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} */

ul li a img {
    transition: .2s;
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
