
/* Main content */
.main {
margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/* body {
    padding: 0px;
    margin: 0px;
    background-image: 'https://infinitysnapz.neocities.org/noyze6.png';
} */

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.ttf");
    font-weight: medium;
}

@font-face {
    font-family: "Righteous";
    src: url("../fonts/Righteous-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "LEMONMILK";
    src: url("../fonts/LEMONMILK-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "LEMONMILK";
    src: url("../fonts/LEMONMILK-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "LEMONMILK";
    src: url("../fonts/LEMONMILK-Light.otf");
    font-weight: lighter;
}

@font-face {
    font-family: "ProFontWindows";
    src: url("../fonts/ProFontWindows.ttf");
}



ul {
display: block;
list-style-type: disc;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
padding-left: 0px;
}

.object {
    position: absolute;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}


.title img:nth-child() {animation-delay: 1s}

.leftcolumn {
    float: left;
    width: 25%;
}

/* Right column */
.rightcolumn {
    float: right;
    width: 25%;
    padding-right: 20px;
}

/* Center column */
.centercolumn {
    float: center;
    width: 50%;
    padding-right: 20px;
}

.twitterfeed {
    float: left;
    width: 15%;
    padding-left: 20px;
}

/* Left column */
.leftcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

iframe {
    border-radius: 10px;
}

/* ul li a {
    scale: 1;
	transition: scale 0.5s;
}

ul li a:hover {
    scale: 1.5;
    transition: scale 0.5s;
} */
  
.nav-link::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #031D44;
}
  
.nav-link-ltr::before {
    width: 0%;
    bottom: 5px;
}
  
.nav-link-ltr:hover::before {
    width: 80px;
}

.nav-link-ltr2::before {
    width: 0%;
    bottom: 5px;
}
  
.nav-link-ltr2:hover::before {
    width: 75px;
}

.nav-link-ltr3::before {
    width: 0%;
    bottom: 5px;
}
  
.nav-link-ltr3:hover::before {
    width: 40px;
}

.nav-link-ltr4::before {
    width: 0%;
    bottom: 5px;
}
  
.nav-link-ltr4:hover::before {
    width: 50px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 16px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.3s;
}
  
.button:hover {
    background-color: #5CB85C;
    color: white;
}

/* 
ul li a {
    color:white !important; 
    background-color: #000;    
    transition: background-color 0.2s linear; 
    -o-transition: background-color 0.2s linear; 
    -ms-transition: background-color 0.2s linear; 
    -moz-transition: background-color 0.2s linear; 
    -webkit-transition: background-color 0.2s linear;
}
 
ul li a:hover {
    color: black !important;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear; 
    -ms-transition: background-color 0.2s linear; 
    -moz-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
}  */


.navbar-custom {
    height:175px;
}

img.custom:hover {
    transition: .2s;
    transform: scale(1.15);
} 
