{% extends "base.html" %}

{% block content %}
  <body style="background-color: 424549;">

    <div style="background-color: #f9d8cc; padding-top: 75px; padding-bottom: 50px">
      <p style="font-family: 'Righteous'; font-weight: bold; color: 705044; text-align: center; font-size:12vw;" class="w3-animate-bottom">Commands</p>
    </div>

    <p style="font-family: 'Righteous'; font-weight: bold; color: white; text-align: center; font-size:64px;">Honkai</p>
    <hr style="border-top: 8px solid #bbb; border-radius: 5px; margin-right: 25%; margin-left: 25%;">

    <div class="accordion" id="honkai_commands" style="margin-right: 15%; margin-left: 15%;">
      <div class="accordion-item">
        <h2 class="accordion-header" id="latesttweet">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <code>/latesttweet</code>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="latesttweet" data-bs-parent="#honkai_commands">
          <div class="accordion-body">
            Usage: <code>/latesttweet</code>
            <br>
            Returns the latest tweet from the official Honkai Impact 3rd Twitter account.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="confignews">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <code>/confignews</code>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="confignews" data-bs-parent="#honkai_commands">
          <div class="accordion-body">
            Usage: <code>/confignews {channel}</code>
            <br>
            Configures the news channel in the guild the command is run in to the specified channel.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <code>/resetnews</code>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#honkai_commands">
          <div class="accordion-body">
            Usage: <code>/resetnews</code>
            <br>
            Deconfigures the news channel in the guild the command is run in.
          </div>
        </div>
      </div>
    </div>

  </body>
{% endblock %}