{% extends "base.html" %}

{% block content %}
  <body style="background-color: 424549;">

    <div style="background-image: url(../static/images/svg.svg); padding-top: 50px; padding-bottom: 100px">
        <div style="width: 300; height: 300; margin-left: auto; margin-right: auto; display: block; overflow: hidden;">
            <img src="../static/images/Pardo_Battlesuit_Icon_BG_Upscaled_v2.png" alt="Reverist Calico Battlesuit Icon Upscaled" width="100%" height="100%" style="object-fit: cover; border-radius: 50%; border: 3px solid #705044;">
        </div>
        <div align="center" style="--bs-link-hover-color: none; margin-left: auto; margin-right: auto;" class="zoomin">
            <a style=" font-family: 'Righteous'; font-size: 64px; font-weight: bold; color: 705044;" class="w3-animate-bottom-delay1">PardoBot</a>
            <div></div>
            <a style="font-family: 'Righteous'; font-size: 24px;" class="w3-animate-bottom-delay2">Your beloved companion and guide!</a>
        </div>
    </div>
    
    <div align="center" style="padding: 20px; background-color: 424549;">
        <div style="margin-right: 25%; margin-left: 25%; padding-top: 30px;">
            <a style="font-size: 18px; color: white; font-family: 'Open Sans'">
                PardoBot is an integrated bot that can help with various tasks related to Honkai Impact 3rd! 
                She can retrieve the latest YouTube/Twitter posts, connect with your HoYoLAB profile to view stats, 
                search the Official Honkai Impact 3rd Wiki, and boasts various other useful features like timed reminders.
            </a>
        </div>
    </div>

    <div style="padding: 20px; background-color: 424549;" class="row">
        <div class="col-12 col-xl-3 col-lg-3 col-md-3 col-sm-12 order-sm-3">
          <div class="card">
            <h2>Developer Contacts</h2>
            <a>Discord - thedrdu#2310</a>
            <br/>
            <a href="https://twitter.com/thedrdu" style="font-weight: lighter; color: #0000EE;">Twitter</a>
            <!-- <a href="https://www.youtube.com/channel/UCULkMFXtP_xh3iBdRXxZVVg" style="font-weight: lighter; color: #0000EE;">YouTube</a> -->
            <!-- <a href="https://scratch.mit.edu/users/thedrdu/" style="font-weight: lighter; color: #0000EE;">Scratch</a> -->
            <a href = "mailto: thedrdu@gmail.com" style="font-weight: lighter; color: #0000EE;">Email</a>
          </div>
        </div>
        <div class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 order-sm-2">
          <div class="card">
            <p>PardoBot is not yet public. If you are interested in trying her out during development, you may join the discord <a href="discord.gg/bX6wvSyhXj">here</a>.</p>
          </div>
        </div>
        <div class="col-12 col-xl-3 col-lg-3 col-md-3 col-sm-12 order-sm-1">
          <div class="card">
            <a class="twitter-timeline" href="https://twitter.com/thedrdu?ref_src=twsrc%5Etfw" data-width="auto" data-height="auto">PardoBot's updates will go here once the website is complete!</a>
          </div>
        </div>
    </div>

  </body>
{% endblock %}