{% extends "base.html" %}

{% block content %}
<body style="background-color: 424549;">
    <div style="background-image: url(../static/images/svg.svg); padding-top: 75px; padding-bottom: 50px">
        <p style="font-family: 'Righteous'; font-weight: bold; color: 705044; text-align: center; font-size:12vw;">Support</p>
    </div>
    
    <div align="center">
        <!--
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="V6Z499D9YP89Y" />
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>
        -->
        <iframe id='kofiframe' src='https://ko-fi.com/thedrdu/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#424549;' height='712' title='thedrdu'></iframe>
    </div>
        
</body>
    
{% endblock %}